@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}

/* Container */
.container {
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container i {
  color: #ff9595;
  margin-right: 5px;
}

h1,
h2,
h3 {
  margin: 10px 0;
}

/* balnace container */
.balance-container {
  padding: 10px 20px;
  text-align: center;
}
