<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
</style>

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
  width: 400px;
  height: 100vh;
  margin: 20px auto;
}

